.main-container {
  padding-top: 80px;
  padding-right: 20px;
  padding-left: 20px;
  min-height: 100;
}

.title-name {
  margin-bottom: 20px;
}

.units-box {
  padding-top: 10px;
}

@media (min-width: 600px) {
  .main-container {
    padding-top: 120px;
    padding-right: 20px;
    padding-left: 20px;
  }

}