.site-header {
  background-color: rgba(0, 0, 0, 0);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  padding-right: 20px;
  padding-left: 20px;
}

.plotting-header {
  /*
    /background-color: rgba(35, 80, 23, 0.842);
    */
    background-color: rgb(255, 255, 255);
}

.plotting-header .box-icon {
  margin: 10px 0;
}

.logo {
  height: 80px;
  margin-top: 5px;
}

.icon-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.box-icon {
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.box-icon:hover {
  border: 1px solid rgba(255, 255, 255, 0.436);
  border-radius: 5px;
}

.user-icon {
  padding: 0 3px;
  height: 16px;
}

.icon {
  font-size: 35px;
  padding: 5px;
  color: rgb(255, 166, 33);
}

@media (min-width: 600px) {
  .logo {
    height: 100px
  }

  .user-icon {
    padding: 0 3px;
    height: 18px;
  }
}
@media (min-width: 800px) {
  .logo {
    height: 120px
  }

  .user-icon {
    padding: 0 3px;
    height: 18px;
  }
}