.site-header {
  background-color: rgba(0, 0, 0, 0);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  padding-right: 20px;
  padding-left: 20px;
}

.plotting-header {
  background-color: rgb(255, 255, 255);
}

.plotting-header .box-icon {
  margin: 10px 0;
}

.plotting-header .icon {
  color: black;
}

.logo {
  height: 80px;
  margin-top: 3px;
}

.icon-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.box-icon {
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.box-icon:hover .icon {
  opacity: 0.8;
}

.user-icon {
  padding: 0 3px;
  height: 16px;
}

.icon {
  font-size: 35px;
  padding: 5px;
  color: rgb(255, 166, 33);
}

.link-section {
  display: none;
}

.link-section .link .cali-button{
  font-size: 14px;
  color: white;
  font-family: sans-serif;
  background-color: rgb(53, 53, 238);
  border: none;
  font-weight: bold;
  padding: 15px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.cali-button:hover {
  opacity: .8;
}

@media (min-width: 600px) {
  .logo {
    height: 100px
  }

  .user-icon {
    padding: 0 3px;
    height: 18px;
  }

  .icon-section {
    display: none;
  }

  .link-section {
    display: initial;
  }
}

@media (min-width: 800px) {
  .user-icon {
    padding: 0 3px;
    height: 18px;
  }
}