.site-header {
  background-color: rgba(0, 0, 0, 0);
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  height: 50px
}

.icon-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.box-icon {
   border: 1px solid transparent;
   cursor: pointer;
   position: relative;

   display: flex;
   align-items: center;
   justify-content: center;
}

.box-icon:hover {
  border: 1px solid rgba(255, 255, 255, 0.436);
  border-radius: 5px;
}

.user-icon {
  padding: 0 3px;
  height: 16px;
}